@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+Old+Uyghur&display=swap');

:root{
    --bg-color: #2E073F;
    --primary-color: #EBD3F8;
    --secondary-color: #AD49E1;
}